<div class="page-header">
	<h1><%= image_tag @user.gravatar_url %> <%= @user.full_name %></h1>
</div>

<% if @statuses %>
<div class="statuses">
  <%= render @statuses %>
</div>
<% end %>

<% if @statuses.next_page %>
    <div id="load_more_statuses" class="btn btn-primary btn-lg">More statuses</div>
<% end %>

<div id="with-button">
    <%= will_paginate @statuses%>
</div>