<div class="page-header">
  <h1>All Statuses</h1>
</div>
<div>
  <%= link_to "Post a new Status", new_status_path, class: "btn btn-primary" %>
</div><br />
<div class="statuses">
<%= render @statuses %>
</div>
<% if @statuses.next_page %>
    <div id="load_more_statuses" class="btn btn-primary btn-lg">More statuses</div>
<% end %>

<div id="with-button">
    <%= will_paginate %>
</div>

